html {
  font-size: 30px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
  background-color: #ff9500;
  color: white;
  text-shadow: 30px 0px 9px blueviolet;
}

body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: black;
  padding: 0 20px 20px 20px;
  border: 5px solid yellow;
}

header {
  position: fixed;
  /*fixed 固定定位，网页元素会相对于浏览器窗口固定位置*/
  top: 0;
  left: 0;
  color: red;
  background-color: rgb(154, 205, 50);
  /*如果要设置透明度，可以使用 rgba 颜色值，例如 rgba(255, 0, 0, 0.5) 表示半透明的红色*/
  width: 100%;
}

h1 {
  font-size: 45px;
  line-height: 27;
  letter-spacing: 86px;
}

h2 {
  margin: 0 -160px 0 -160px;
  /*margin: 上 右 下 左（顺时针）*/
  padding: 20px 0;
  /*在只有两个值的情况下，第一个值是上下，第二个值是左右
    三个值的情况下，第一个值是上，第二个值是左右，第三个值是下*/
  color: lawngreen;
  text-shadow: 3px 3px 10px blueviolet;
  border: 60px dashed blue;
}

h4 {
  border: 60px dotted purple;
  margin: 0 -320px 0 -320px;
}

h5 {
  text-decoration: underline;
  position: relative;
  left: 40vw;
  /* 使用绝对模式定位时，网页元素会从它最近的已定位祖先元素开始偏移。
     如果没有已定位的祖先元素，则会从初始包含块（initial containing block）开始偏移。 
  position:relative; 使用相对定位时，网页元素会从它原本的位置开始偏移。
  */
  line-height: 700px;
  /*行高*/
  background-image: url(../images/my-test-image3.png);
  /*background-image属性用于设置元素的背景图像,url()函数用于指定图像的路径
  图像看不见是因为没有设置宽度和高度，如何何设置？*/
  background-size: cover;
  /*background-size属性用于指定背景图像的大小，cover值表示背景图像会被缩放
  依然没有看见图像，为什么？*/
  background-repeat: no-repeat;
  /*background-repeat属性用于指定背景图像是否重复，no-repeat值表示背景图像不重复*/
  background-position: center;
  width: 300px;
  height: 400px;
  border: solid 20px orange;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  text-indent: -60px;
  /*text-indent属性用于指定文本的缩进量，负值表示向左缩进*/
}

p,
h3 {
  color: red;
  width: 50%;
  border: 36px solid blue;
  padding: 30px;
  margin: 70px;
  background-color: green;
  font-family: Arial, sans-serif;
  font-size: 72px;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  box-shadow: 170px -170px 36px red;
}

ul li {
  display: inline;
  margin-right: 4vw;
  /* vw 表示“视口宽度的百分比（viewport width）”: 4vw = 4% 的视口宽度 */
}

img {
  width: 100%;
  display: block;
  place-items: center;
  margin: 0 auto;
  box-shadow: 170px 30px 3px blue;
  border: 60px dotted;
}

#switchable-img {
  cursor: pointer;
}

.class1 {
  height: 120px;
  width: 100vw;
  margin: 0 0 0 -20vw;
  background-image: url(../images/mti4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: #ff7392 dashed 20px;
  box-shadow: 0px 60px 60px #ff7392;
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex属性用于创建灵活的布局，justify-content属性用于水平对齐，align-items属性用于垂直对齐
  flex-deirection属性用于设置主轴方向，row表示水平排列，column表示垂直排列
  */
}

.class2 {
  display: flex;
}
.class2 div {
  width: 50%;
  border: 20px solid #ff7392;
  box-shadow: 0px 60px 60px #ff7392;
  margin: 0 20px;
}

button {
  cursor: pointer;
  /*background-color: transparent;
  color: white;*/
}

*:hover {
  border-color: #ff9500;
}

p:hover {
  color: black;
  text-align: right;
  line-height: 2em;
  /*em 是相对于当前字体大小的单位，2em 表示两倍于当前字体大小*/
}

/* *:hover中的*表示所有元素 */
/* 响应式设计 
@media (max-width: 700px) {
}*/
